// Fonts
@import url('https://fonts.googleapis.com/css?family=Fira+Sans:400,600,700');

// Typography
$font-family-sans-serif: "Fira Sans", sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;
